{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="main">
    <div class="container flexbox ">
        <div class="row ">
            <div class="col-lg-7 div-index ">
                <h1 class="h1-section">Look to our products</h1>
                <h1 class="h1-section">Start Buying now</h1>
                <button class="btn1">Shop</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}

